@import "tailwindcss";

@theme inline {

  --color-background: #0a0a0a;
  --color-foreground: #ffff;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}


@layer base {

  *,
  *::before,
  *::after {
    @apply box-border p-0 m-0;
  }

  html,
  body,
  #__next {
    @apply min-h-screen w-full overflow-x-hidden;
    font-family: var(--font-sans);
    background: var(--color-foreground);
    color: var(--color-background);
  }

  body {
    @apply scroll-smooth antialiased;
  }

  button {
    @apply cursor-pointer;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--color-background) inset;
    -webkit-text-fill-color: var(--color-foreground);
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-moz-search-clear {
    display: none;
  }
}

@utility container-lg {
  width: 100%;
  padding-inline: 1rem;
  /* padrão mobile */

  @variant lg {
    padding-inline: 6rem;
    /* telas >= 1024px */
  }

  @variant 2xl {
    max-width: 96rem;
    /* telas >= 1536px */
  }
}